= form_for @user do |f|
  %p
    = f.label :email
    %br
    = f.text_field :email
  %p
    = f.label :first_name
    %br
    = f.text_field :first_name
  %p
    = f.label :last_name
    %br
    = f.text_field :last_name
  %p
    = f.label :user
    %br
    = f.text_field :username
  %p
    %br
    = f.label :role
    = f.select(:role, ['user', 'admin', 'farmer'])
  .actions
    = f.submit 'Save'