%h1 Listing cart_items

%table
  %tr
    %th Farm product
    %th Cart
    %th
    %th
    %th

  - @cart_items.each do |cart_item|
    %tr
      %td= cart_item.farm_product_id
      %td= cart_item.cart_id
      %td= link_to 'Show', cart_item
      %td= link_to 'Edit', edit_cart_item_path(cart_item)
      %td= link_to 'Destroy', cart_item, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Cart item', new_cart_item_path
